################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockTracker/Tracker/.vs/StockTracker/v15/Server/sqlite3
